services:
  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wejh
      MYSQL_USER: wejh
      MYSQL_PASSWORD: wejh
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "127.0.0.1", "-uroot", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 30
    volumes:
      - mysql_data:/var/lib/mysql

  wejh-go:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - .:/app
      - ./config.yaml:/app/config.yaml
      - ./logs:/app/logs
      - go_pkg_cache:/go/pkg
    restart: unless-stopped

volumes:
  mysql_data: {}
  redis_data: {}
  go_pkg_cache: {}